# Symfony directories
app/bootstrap.php.cache
app/check.php
app/SymfonyRequirements.php
app/config/parameters.yml
vendor/*
*/logs/*
*/cache/*

# IDE files
*.sw[op]
/nbproject/
.idea/
.project
.settings
atlassian-ide-plugin.xml
.*.tmp

# Ant files
cache.properties
build/

# OS X
._*
.Trashes

# SASS
.sass-cache/

# htaccess link
web/.htaccess
